@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;500;600;700;800;900&display=swap');
* {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:  'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}